@import url( https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap );

* {
  font-size: 11pt; color: #fff; font-family: 'Noto Sans JP';
  text-shadow:
    1px  1px 0px #000, -1px  1px 0px #000, 1px -1px 0px #000, -1px -1px 0px #000,
    1px  0px 0px #000, 0px  1px 0px #000, -1px  0px 0px #000, 0px -1px 0px #000;
}
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-thumb { border-radius: 3px; }
::-webkit-scrollbar-track { background: rgba(100,100,100, .5); }
.container { width: -webkit-fill-available; padding: 0 2px; background-color: #0003; }
label {
  font-weight: bold; text-align: center; vertical-align: middle; background: #190;
  border: 3px solid; border-image: linear-gradient(to right bottom, #49e 0%, #05b 100%);
  border-image-slice: 1;
}
.ps select, input, select, button { background: #0003; border: none; border-radius: 3px; }
textarea { display: block; font-size: 11pt; background: #0003; width: 98%; height: 98%; }
table {
  border-collapse: separate; border-spacing: 0px; width: -webkit-fill-available;
}
thead th { position: sticky; white-space: nowrap; background: #a85; }
thead tr:nth-child(1) th { top: 0; }
thead tr:nth-child(2) th { top: 1.5rem; }
span.nums { border-bottom: 1px dotted #752; }
th, td { border-top: 1px solid #752; border-left: 1px solid #752; }
.cpnl { display: grid; grid-template-columns: 22em auto; grid-template-rows: 3em; }
.file { grid-column: 1 / 2; grid-row: 1 / 2; }
.log { grid-column: 2 / 3; grid-row: 1 / 4; height: 100%; }
.lang { grid-column: 1 / 2; grid-row: 2 / 3; }
.burst { grid-column: 1 / 2; grid-row: 3 / 4; }
#burst { width: 1.5em; height: 1.5em; }
.scale { grid-column: 1 / 2; grid-row: 4 / 5; }
.stat { grid-column: 2 / 3; grid-row: 4 / 5; }
.cell .nums, .cell .vals { display: block; }
.ps { display: grid; grid-template-columns: 6em 13em auto; }
.file *, .ps * { margin: .2em; }
.ps label { grid-column: 1 / 2; }
.ps select { grid-column: 2 / 3; }
.ps input { grid-column: 2 / 3; }
.ps span { grid-column: 3 / 4; }
#stat { font-size: 8pt; grid-column: 2 / 3; grid-row: 1 / 2; margin-top: .5em }
#p{ grid-column: 1 / 2; grid-row: 1 / 2; margin: .7em; width: auto; }
.vs { display: grid; grid-template-columns: 8em auto; }
.vs span { grid-column: 1/2; }
.vs progress { grid-column: 2/3; }

#directInput { padding: .25em; display: grid; }
#directInput * { width: 7em; margin-bottom: .25em; }

#directInput button { background: #0002; border: 2px outset; margin: 0 .25em; }

label#genre { grid-column: 1 / 2; grid-row: 2 / 3; }
label#unit { grid-column: 1 / 2; grid-row: 3 / 4; }
label#cntCaption { grid-column: 1 / 3; grid-row: 1 / 2; }
input#ne { grid-column: 2 / 3; grid-row: 1 / 2; text-align: center; }
button#editOk { grid-column: 3 / 4; grid-row: 1 / 2; }
button#editCancel { grid-column: 3 / 4; grid-row: 3 / 4; }
button#delete { grid-column: 2 / 3; grid-row: 3 / 4; }

.view { display: block; }
.hidden { display: none !important; }

body { background-image: url( 'wallpaperflare.com_wallpaper.jpg' ); }
